@import "tailwindcss";

@theme {
  --color-neutral-950: #0a0a0a;
  --color-neutral-900: #171717;
  --color-neutral-800: #262626;
  --color-neutral-700: #404040;
  --color-neutral-600: #525252;
  --color-neutral-500: #737373;
}

/* Base styles */
body {
  background-color: var(--color-neutral-950);
  color: white;
}
